@use '@styles/mixins' as *;
@use '@styles/variables' as *;

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
  justify-content: center;
  gap: 1rem;

  @media (max-width: $breakpoint-desktop) {
    gap: 0.75rem;
  }

  @media (max-width: $breakpoint-tablet) {
    gap: 1rem;
  }

  @media (max-width: $breakpoint-mobile) {
    grid-template-columns: 1fr;
    gap: 0.75rem;
  }
}
