@use '@styles/mixins' as *;
@use '@styles/variables' as *;

.btn {
  @include flex-center;
  border: none;
  border-radius: 6px;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  background-color: $color-primary;
  color: #fff;
  &:hover:not(:disabled) {
    background-color: $color-primary;
  }

  padding: 0.5rem 1rem;
  font-size: 1rem;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &:hover:not(:disabled) {
    filter: brightness(0.95);
  }
}

/* Sizes */
.small {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

.medium {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.large {
  padding: 0.75rem 1.5rem;
  font-size: 1.125rem;
}
