@use '@styles/mixins' as *;
@use '@styles/variables' as *;


.wrapper {
  @include flex-center;
  gap: 4px;
  padding: 0.5rem;
  border-radius: 8px;
  flex: 1;

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
  }
}

 

.option {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: $color-secondary;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease;
  min-width: 100px;

  @media (max-width: $breakpoint-mobile) {
    width:100%;
  }

  &:hover {
    border-color: #ddd;
    background-color: #f9f9f9;
  }

  &.active {
    background-color: $color-primary;
    color: #fff;
    border-color: $color-primary;
    transform: scale(1.03);
  }
}