@use '@styles/mixins' as *;
@use '@styles/variables' as *;


.wrapper {
  @include flex-center;
  gap: 0.5rem;
  background: #f6f6f6;
  padding: 0.5rem;
  border-radius: 8px;
}

.option {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: #fff;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease;
  min-width: 100px;

  &:hover {
    border-color: #ddd;
    background-color: #f9f9f9;
  }

  &.active {
    background-color: $color-primary;
    color: #fff;
    border-color: $color-primary;
    transform: scale(1.03);
  }
}