@use '@styles/variables' as *;
@use '@styles/mixins' as *;


.column {
  min-height: 300px;
  @include dashed-container;


  &_header {
    @include flex-row-between;
    margin-bottom: 20px;
    border-bottom: 1px solid $color-secondary;
    padding: 12px;
    cursor: grab;

    &__icon {
      width: 24px;
      height: 24px;
      fill: $color-danger;
      cursor: pointer;
    }
  }

  &_children {
    @include flex-column-gap;

    &__noTasks {
      text-align: center;
    }
  }
}
