@use '@styles/variables' as *;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column-gap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@mixin flex-row-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin dashed-container {
  padding: 30px 10px;
  border: 1px dashed $color-secondary;
  border-radius: 1rem;
}