/* Colors */
$color-background:   #FFFAFA	;
$color-light:  #F0F8FF;
$color-text: #111111;
$color-primary: #0070f3;
$color-secondary: #B0C4DE	;
$color-danger: #dc3545;
$color-green: #4ade80;

/* Breakpoints */
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-large: 1200px;