@use '@styles/variables' as *;

.deleteSection {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(20px);
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  width: 100%;
  background: linear-gradient(to top, $color-danger, #ffcccc);
  pointer-events: none;
  transition: opacity 0.25s ease, transform 0.25s ease;
  border-radius: 16px 16px 0 0;
  border-top: 1px dashed $color-secondary;

  &_icon {
    fill: $color-background;
    height: 40px;
    width: 40px;
  }

  &_text {
    font-weight: bold;
    color: $color-background;
  }
}

.show {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
  pointer-events: auto;
}
