@use '@styles/mixins' as *;
@use '@styles/variables' as *;

.boxContainer {
  @include flex-center;
  gap: 8px;

  @media (max-width: $breakpoint-mobile) {
    gap: 4px;
    flex-wrap: wrap;
  }
}

.addBtn {
  margin: 20px auto 0 auto;
  width: 100%;

  @media (max-width: $breakpoint-tablet) {
    width: 100%;
    max-width: 360px;
  }

  @media (max-width: $breakpoint-mobile) {
    margin: 16px auto 0 auto;
    width: 100%;
  }
}