@use '@styles/mixins' as *;

.container {
  &__mainContent {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 1200px;
    margin: 0 auto;

    .actionBoxes {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 512px));
      justify-content: center;
      gap: 1rem;
      width: 100%;
    }
  }
}
